<html>
  <head>
    <title>Hoşgeldiniz biz burda sitenizi uptime ediyok</title>
  </head>
  
  <body>
    <center>
 <form method="POST">
                      <div class="input-group">
              <input type="text" name="kodisim" id="kodisim" class="form-control" placeholder="Link">
<input class="input" style="width:240px" type="url"  name="link" id="link" placeholder="https://botuptimesystem.glitch.me/">
              <div class="input-group-append" id="button-addon4">
              </div>
   
   <br>
   
   <button class="ui colorr button " type="submit" value="Gönder">Gönder</button>
    </form>
      </center>
  </body>
</html>