
<!DOCTYPE html>
<html style="background-color: #4ca74c; overflow-y: auto;">
	<head>    
<title>Uptime</title>
  		<meta name="keywords" content="Discord, Discord bots, Discord bot, Asuna, Asuna Discord, Asuna bot, Asunaa, asunamie, Asunamie, Asunamie bot">
    <link rel="stylesheet" href="https://sitedatas.glitch.me/bulma.css">
		<link rel="stylesheet" href="https://sitedatas.glitch.me/font-awesome.min.css">
		<link rel="stylesheet" href="https://sitedatas.glitch.me/main.css">
     <link rel="stylesheet" href="https://sitedatas.glitch.me/uptime-bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$('.navbar-light .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
    }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
    });
});
</script>

		<style>
      .social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 2px;
}

			.status td {
				text-align: center !important;
				padding: 2px;
			}
			.status thead {
				border-bottom: 1px solid #ddd;
			}
			.status th:first-child, .status td:first-child { 
    			font-weight: bolder;
			}
			.premium td {
				text-align: center !important;
				padding: 15px;
			}
			.premium th, .premium td {
				border-bottom: 1px solid #ddd;
			}
			.premium th:first-child, .premium td:first-child { 
    			font-weight: bolder;
			}
			#particle-js {
				position: absolute;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50% 50%;
				opacity: 0.48;
			}
			canvas {
				position: fixed;
			}
			@media screen and (max-width: 770px) {
				.hero-body {
					padding: 0px !important;
					padding-top: 3em !important;
				}
			}
			.circle:before {
				content: ' \25CF';
				font-size: 16px;
			}
		</style>
	</head>
	<body>

    <nav class="navbar navbar-expand-sm   navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bilgi</a>
            </li>
            <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Yapımcılar / Geliştiriciler       
              </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="https://discord.com/users/689169122604744833">Alfonzo#1921</a>
              <a class="dropdown-item" href="https://discord.com/users/471783967167741964">cenap#4160</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/R73R2Sm">İletişim</a>
          </li>
          </ul>
                        <%if(user) {%>
          <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Yapımcılar / Geliştiriciler       
              </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="https://discord.com/users/689169122604744833">Alfonzo#1921</a>
              <a class="dropdown-item" href="https://discord.com/users/471783967167741964">cenap#4160</a>
            </div>
          </li>
          
           <%} else {%>
           <li class="nav-item">
            <a class="nav-link" href="/giris">Giriş Yap</a>
          </li>
       <% } %>

        </div>
      </nav>
</ul>
</div>


			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
	<img class="aw-zoom" src="https://cdn.discordapp.com/avatars/727978641702649966/f3ce07e33e26a69f2912f07e9b0aaceb.png?size=2048" style="width: 6em; border-radius: 1000000px;">
</h1>
<h2 class="subtitle" style="color:#ffffff; margin-top: 1em;">
	Basitlik, Verimlik, Kolaylık.
	<div class="info">
		<nav class="level" style="margin-top: 2em;">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Eklenen</p>
					<p class="title"><%= db.get("linkler").length || 0%></p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Gecikme</p>
					<p class="title"><%=Math.round(bot.ping)%></p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
          <p class="heading">Shard</p>
					<p class="title">0</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Uptime</p>
					<p class="title">%98</p>
				</div>
			</div>
  
			</div>
    <br><br>
        			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Yapımcılar / Geliştiriciler</p>
					<p class="title">Alfonzo#1921 ve cenap#4160</p>
				</div>
		</nav>
	</div>
</h2>
        </div></div>